{% extends "base.html.jinja2" %} {% block content %}
<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-header">Qanta Question</div>
      <div class="card-body">
        <h5 class="card-title">Qanta ID: {{ qanta_id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <span class="badge badge-info">Fold: {{ fold }}</span>
          <span class="badge badge-info">Year: {{ year }}</span>
          <span class="badge badge-info">Tournament: {{ tournament }}</span>
          <span class="badge badge-info">Difficulty: {{ difficulty }}</span>
          <span class="badge badge-info">Category: {{ category }}</span>
          <span class="badge badge-info">Sub-Category: {{ subcategory }}</span>
        </h6>
        <h6 class="card-subtitle mb-2">
          <span class="badge badge-success">Answer: {{ page }}</span>
        </h6>
        <h6 class="card-subtitle mb-2">
          <span class="badge badge-warning">Raw Answer: {{ answer }}</span>
        </h6>
        <p class="card-text">
          {% if text_with_buzzes is none %}
          {{ text }}
          {% else %}
          {{ text_with_buzzes | safe }}
          {% endif %}
        </p>

        <hr />
        <h6>
          Gameplay Records (Total: {{ n_plays }}, First 5 Unique Player Buzzes
          Shown Above)
        </h6>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date</th>
              <th scope="col">Buzz Fraction</th>
              <th scope="col">Guess</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            {% for event in plays %}
            <tr>
              <td>{{ event.user_id[:2] }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.buzzing_position_str }}</td>
              <td>{{ event.guess }}</td>
              <td>{{ event.result }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        <a href="/qanta/question/{{ qanta_id }}"
          >Permanent Link: datasets.pedro.ai/qanta/question/{{ qanta_id }}</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
